/*** The new CSS Reset - version 1.4.2 (last updated 30.11.2021) ***/

/* 임시 추가 */
html {
    font-size: 62.5%; // 1rem => 10px
    body {
        font-size: 1.6rem; // 기본 16px
        font-family: "NotoSansKR", sans-serif;
        font-weight: normal;
        color: var(--font-color-normal);
        // 과한 깜빡임 방지로 추가함, 문제시 삭제
        transition: background-color 0.4s, color 0.4s, border-color 0.4s, box-shadow 0.4s;
    }
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

// 접근성을 위해 추가함, 필요 없으면 삭제
*:focus:not(input) {
    box-shadow: initial !important;
    outline: initial !important;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]){
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}