// 컨포넌트 tsButton에 대한 스타일 작성예정
.ts-button {
    &.p-button {
        &:not(.p-button-icon-only) {
            padding: 1.2rem 1.6rem 1rem;
        }
        &:not(.p-button-link, .p-button-text, .p-button-outlined) {
            background: var(--primary);
            border: 1px solid var(--primary);
            color: var(--white);
            &:hover {
                color: var(--white);
            }
            &.ts-button-primary-dark,
            &.p-button-primary-dark {
                background: var(--primary-dark);
                border: 1px solid var(--primary-dark);
            }
            &.ts-button-secondary,
            &.p-button-secondary {
                background: var(--secondary);
                border: 1px solid var(--secondary);
            }
            &.ts-button-success,
            &.p-button-success {
                background: var(--success);
                border: 1px solid var(--success);
            }
            &.ts-button-info,
            &.p-button-info {
                background: var(--info);
                border: 1px solid var(--info);
            }
            &.ts-button-warning,
            &.p-button-warning {
                background: var(--warning);
                border: 1px solid var(--warning);
            }
            &.ts-button-danger,
            &.p-button-danger {
                background: var(--error);
                border: 1px solid var(--error);
            }
        }
        &.p-button-icon-only {
            &.p-button-rounded {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
        &.p-button-link,
        &.p-button-text,
        &.p-button-outlined {
            .p-button-label {
                color: var(--primary);
            }
            &:hover {
                color: var(--primary);
                background-color: transparent !important;
            }
            &.ts-button-secondary,
            &.p-button-secondary {
                color: var(--secondary);
                .p-button-label {
                    color: var(--secondary);
                }
                &:hover {
                    color: var(--secondary);
                }
            }
            &.ts-button-primary-dark,
            &.p-button-primary-dark {
                color: var(--primary-dark);
                .p-button-label {
                    color: var(--primary-dark);
                }
                &:hover {
                    color: var(--primary-dark);
                }
            }
            &.ts-button-success,
            &.p-button-success {
                color: var(--success);
                .p-button-label {
                    color: var(--success);
                }
                &:hover {
                    color: var(--success);
                }
            }
            &.ts-button-info,
            &.p-button-info {
                color: var(--info);
                .p-button-label {
                    color: var(--info);
                }
                &:hover {
                    color: var(--info);
                }
            }
            &.ts-button-warning,
            &.p-button-warning {
                color: var(--warning);
                .p-button-label {
                    color: var(--warning);
                }
                &:hover {
                    color: var(--warning);
                }
            }
            &.ts-button-danger,
            &.p-button-danger {
                color: var(--error);
                .p-button-label {
                    color: var(--error);
                }
                &:hover {
                    color: var(--error);
                }
            }
        }
    }
    .p-button-link,
    .p-button-icon,
    .p-button-label {
        font-size: 1.6rem;
    }
    .p-badge {
        min-width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 1.2rem;
        color: var(--primary);
        &.p-badge-danger {
            background: var(--error);
            color: var(--white);
        }
    }
}