// 컨포넌트 tsRadio에 대한 스타일 작성예정
.ts-radiobutton {
    // disabled opacity 스타일 초기화
    .p-disabled, .p-component:disabled {
        opacity: initial !important;
    }
    &.p-radiobutton {
        width: 2.4rem;
        height: 2.4rem;
        .p-radiobutton-box {
            width: 2.4rem;
            height: 2.4rem;
            border: 2px solid #ccc;
            // 체크 아이콘 기본스타일
            .p-radiobutton-icon {
                width: 1rem;
                height: 1rem;
            }
        }
        // disabled 상태 제외 hover, focus style
        &:not(.p-radiobutton-disabled) {
            .p-radiobutton-box {
                &:hover {
                    border-color: var(--secondary);
                }
                &.p-highlight{
                    &:hover {
                        border-color: var(--primary-dark);
                        // background: var(--secondary);
                        background: var(--primary-dark);
                    }
                }
                &.p-focus {
                    box-shadow: 0 0 0 0.2rem var(--secondary-light);
                    border-color: var(--primary);
                }
            }
        }
        // checked
        &.p-radiobutton-checked {
            .p-radiobutton-box {
                &.p-highlight {
                    border-color: var(--primary);
                    background: var(--primary);
                }
            }
        }
        // disabled
        &.p-radiobutton-disabled {
            .p-radiobutton-box {
                background: #F2F2F2;
            }
            &.p-radiobutton-checked {
                .p-radiobutton-box {
                    &.p-highlight {
                        border-color: #ccc;
                        background: #ccc;
                    }
                }
            }
        }
    }
}