// mixins
@mixin hidden {
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: insert(50%);
    overflow: hidden;
    z-index: -1;
}