:root {
    --blue:#0E89FF;
    --purple:#6200EE;
    --green: #0CD68A;
    --orange: #FF895B;
    // pjt
    --primary-dark: #3700B3;
    --primary:#6200EE;
    --secondary:#9F5BFF;
    --secondary-light:#D5B8FF;
    --success:#0CD68A;
    --info:#0E89FF;
    --warning:#FF895B;
    --error:#DD4848;
    // pjt-gray
    --white:#fff;
    --light:#F2F2F2;
    --gray-light: #E6E7F3;
    --gray:#ABAFC7;
    --gray-dark:#70798B;
    --dark:#343a40;
    --black:#161616;
    // theme 컨트롤
    --font-color-normal: #161616;
    --background-color-normal: #ffffff;
    // line
    --line-light: #E6E7F3;
    // font-size
    --font-size-default: 1.6rem;
}
// dark mode
html[data-mode='dark'] {
    --background-color-normal: #22272D;
    --font-color-normal: #E2E2E3;
    --primary-dark: #7138C1;
    --primary:#A46FF0;
    --secondary:#CAA3FF;
    --error:#CF6679;
    --secondary-light:rgb(121 74 186 / 40%);
    // line
    --gray-light: #444C56;
}