:root {
    //임시
    --blue:#0E89FF;
    --purple:#6200EE;
    // pjt
    --primary-dark: #4501A5;
    --primary:#6200EE;
    --secondary:#8E40FF;
    --secondary-light:#D5B8FF;
    --success:#0CD68A;
    --info:#0E89FF;
    --error:#FF895B;
    // pjt-gray
    --white:#fff;
    --light:#F2F2F2;
    --gray:#ABAFC7;
    --gray-dark:#70798B;
    --dark:#343a40;
    --black:#161616;
}
// dark mode
html[data-mode='dark'] {
    // --primary:red;
}