:root {
    //임시
    --blue:#0E89FF;
    --purple:#6200EE;
    // --pink:#e83e8c;
    // --red:#dc3545;
    // --orange:#fd7e14;
    // --yellow:#ffc107;
    // --green:#28a745;
    // --teal:#20c997;
    // --cyan:#17a2b8;
    // --warning:#ffc107;
    // pjt
    --primary:#6200EE;
    --secondary:#8E40FF;
    --light-secondary:#D5B8FF;
    --success:#0CD68A;
    --info:#0E89FF;
    --error:#FF895B;
    // pjt-gray
    --white:#fff;
    --light:#F2F2F2;
    --gray:#ABAFC7;
    --gray-dark:#70798B;
    // --dark:#343a40;
    --black:#161616;
}